body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 880px;
  width: 1720px;
}

.left-image {
  margin: 0;
  padding: 0;
  height: 880px;
  width: 556px;
  border: none;
  position: relative;
}

#background-img {
  width: 100%;
  height: 100%;
}

.logo {
  margin: 0;
  padding: 10px 0px;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 556px;
  top: 180px;
  left: 0px;
  background-color: rgba(29, 29, 29, 0.275);
}

#logo-img {
  height: 120px;
}

.img-footer {
  width: 556px;
  text-align: center;
  position: absolute;
  top: 775px;
  color: rgb(243, 243, 243);
  font-size: 18px;
  background-color: rgba(29, 29, 29, 0.708);
}

.footer-link:link {
  color: rgb(233, 233, 233);
}

.footer-link:visited {
  color: rgb(233, 233, 233);
}

.footer-link:active {
  color: rgb(233, 233, 233);
}

.footer-link:hover {
  color: rgb(233, 233, 233);
}

.right-form {
  margin: 0;
  padding: 0;
  background-color: rgb(233, 233, 233);
  width: 1164px;
  height: 880px;
}
